### Cargando Librerias

In [1]:
import pandas as pd
import numpy as np
import glob
import os

### Cargando la base de datos

In [2]:
os.chdir(r'C:\Users\NATALIA\Documents\MAESTRIA\Base_datos')
bbdd = pd.read_csv('World GDP Dataset.csv')
bbdd.head()

,"GDP, current prices (Billions of U.S. dollars)",1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,20.616,20.057,18.020,18.883,18.401,18.876,20.136,0.000,0.000,0.000
1,Albania,1.946,2.229,2.296,2.319,2.290,2.339,2.587,2.566,2.530,...,13.246,11.389,11.862,13.053,15.157,15.399,15.161,18.310,18.256,18.842
2,Algeria,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.300,51.664,...,213.810,165.979,160.034,170.207,175.372,171.680,144.922,162.711,187.155,190.254
3,Andorra,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3.267,2.789,2.895,2.993,3.217,3.155,2.885,3.330,3.302,3.360
4,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.050,9.818,...,145.712,116.194,101.124,122.022,101.353,84.516,58.125,75.179,124.794,135.558

In [3]:
bbdd.columns

Index(['GDP, current prices (Billions of U.S. dollars)', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

### Nos quedamos con los últimos 10 años y solo con los paises latinoamericanos

In [4]:
bbdd_2=bbdd.set_index('GDP, current prices (Billions of U.S. dollars)')
bbdd_2 = bbdd_2.iloc[:,-11:]
bbdd_2 = bbdd_2.reset_index()
bbdd_2.head()

,"GDP, current prices (Billions of U.S. dollars)",2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,20.170,20.616,20.057,18.020,18.883,18.401,18.876,20.136,0.000,0.000,0.000
1,Albania,12.784,13.246,11.389,11.862,13.053,15.157,15.399,15.161,18.310,18.256,18.842
2,Algeria,209.755,213.810,165.979,160.034,170.207,175.372,171.680,144.922,162.711,187.155,190.254
3,Andorra,3.193,3.267,2.789,2.895,2.993,3.217,3.155,2.885,3.330,3.302,3.360
4,Angola,136.710,145.712,116.194,101.124,122.022,101.353,84.516,58.125,75.179,124.794,135.558

In [7]:
paises = pd.read_excel('Paises_Lat.xlsx')
paises.head()

   Código               País
0       4  Antigua y Barbuda
1       8           Barbados
2      12            Bahamas
3      16          Argentina
4      20             Belice

In [6]:
bbdd_2['GDP, current prices (Billions of U.S. dollars)'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile',
       "China, People's Republic of", 'Colombia', 'Comoros',
       'Congo, Dem. Rep. of the', 'Congo, Republic of ', 'Costa Rica',
       'Croatia', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong SAR', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Republic of', 'Kosovo', 'Kuwait', 'Kyrgyz Republic',
       'Lao P.D.R.', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'Macao SAR', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. States of',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia ',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan, Republic of', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'São Tomé and Príncipe', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Tuvalu',
       'Türkiye, Republic of', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe', nan,
       '©IMF, 2022'], dtype=object)

### Cruzando las bases

In [10]:
bbdd_3 = bbdd_2.merge(paises ,how='left', left_on= ['GDP, current prices (Billions of U.S. dollars)'], right_on = 'País' )
print(bbdd_2.shape)
print(bbdd_3.shape)

(230, 12)
(230, 14)

In [13]:
bbdd_3[bbdd_3['País'].notna()].shape

(15, 14)

In [14]:
bbdd_3[bbdd_3['País'].notna()]

,"GDP, current prices (Billions of U.S. dollars)",2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Código,País
6,Argentina,611.471,563.614,642.464,556.774,643.861,524.431,451.815,389.064,486.702,630.698,643.797,16.0,Argentina
15,Barbados,4.677,4.696,4.715,4.830,4.978,5.087,5.298,4.677,4.854,5.788,6.277,8.0,Barbados
21,Bolivia,30.883,33.237,33.241,34.189,37.782,40.581,41.193,36.897,40.703,43.431,45.989,28.0,Bolivia
35,Chile,277.269,259.398,242.508,249.209,276.182,295.145,278.347,252.346,316.770,310.866,347.570,52.0,Chile
37,Colombia,382.094,381.241,293.493,282.720,311.890,334.124,323.055,270.415,314.409,342.919,361.941,170.0,Colombia
41,Costa Rica,50.949,52.017,56.442,58.847,60.517,62.422,64.412,62.144,64.417,68.489,72.958,68.0,Costa Rica
50,Ecuador,95.130,101.726,99.290,99.938,104.296,107.562,108.108,99.291,106.166,115.469,120.292,84.0,Ecuador
52,El Salvador,21.991,22.593,23.438,24.191,24.979,26.021,26.881,24.563,28.737,31.989,33.418,86.0,El Salvador
68,Guatemala,52.989,57.835,62.180,66.034,71.624,73.331,77.154,77.625,85.974,91.318,95.596,90.0,Guatemala
71,Guyana,4.168,4.128,4.280,4.483,4.748,4.788,5.174,5.471,7.717,14.839,16.804,92.0,Guyana
73,Honduras,18.500,19.757,20.980,21.718,23.136,24.068,25.091,23.827,28.490,30.568,32.259,104.0,Honduras
125,Nicaragua,10.983,11.880,12.757,13.286,13.786,13.025,12.611,12.586,14.001,15.695,16.962,188.0,Nicaragua
135,Paraguay,38.651,40.378,36.211,36.090,38.997,40.225,37.907,35.432,38.820,41.855,44.623,156.0,Paraguay
187,Uruguay,62.094,61.851,57.435,57.246,64.385,64.296,61.017,53.698,59.294,71.161,72.986,328.0,Uruguay
190,Venezuela,258.986,214.869,125.446,112.912,115.883,102.084,74.418,44.953,59.513,82.145,86.704,332.0,Venezuela

### Me quedo solo con los paises latinoamericanos

In [21]:
bbdd_4 = bbdd_3[bbdd_3['País'].notna()][['Código',  '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']].copy()

### Validando tipo de dato

In [22]:
bbdd_4.dtypes

Código    float64
2013      float64
2014      float64
2015      float64
2016      float64
2017      float64
2018      float64
2019      float64
2020      float64
2021      float64
2022      float64
2023      float64
dtype: object

In [23]:
bbdd_4['Código'] = bbdd_4['Código'].astype('int64')

In [24]:
bbdd_4.dtypes

Código      int64
2013      float64
2014      float64
2015      float64
2016      float64
2017      float64
2018      float64
2019      float64
2020      float64
2021      float64
2022      float64
2023      float64
dtype: object

### Renombrando las variables

In [25]:
bbdd_4.rename(columns={'Código':'codigo_pais'}, inplace= True)

### Validado duplicados

In [27]:
#Check por duplicados 
duplicados= bbdd_4[bbdd_4.duplicated(['codigo_pais'], keep=False)] 
display('La cantidad de créditos duplicados es: ' + str(duplicados.shape[0]))

'La cantidad de créditos duplicados es: 0'

### Descargando base final

In [28]:
bbdd_4.to_excel('bbdd_GDP.xlsx', index= False)