##Actualización diarios de casos archivados

In [ ]:
import os
import glob
import pandas as pd
os.chdir("/content/drive/MyDrive/Grupo3DB/archived_daily_case_updates")

In [ ]:
extension = 'csv'
todos_los_archivos = [i for i in glob.glob('*.{}'.format(extension))]

In [ ]:
total_casos = pd.concat([pd.read_csv(f) for f in todos_los_archivos ])

In [ ]:
total_casos.tail(50)

,Estado,País,Última actualización,Confirmado,Muertes,Recuperados,Sospechosos,ConfnSusp,Notas
20,Liaoning,Mainland China,2/5/20 15:23,89.0,0.0,4.0,NaN,NaN,NaN
21,Shanxi,Mainland China,2/5/20 15:23,81.0,0.0,5.0,NaN,NaN,NaN
22,Tianjin,Mainland China,2/5/20 3:43,69.0,1.0,2.0,NaN,NaN,NaN
23,Guizhou,Mainland China,2/5/20 12:33,64.0,1.0,9.0,NaN,NaN,NaN
24,Gansu,Mainland China,2/5/20 16:23,62.0,0.0,6.0,NaN,NaN,NaN
25,Jilin,Mainland China,2/5/20 11:03,54.0,0.0,2.0,NaN,NaN,NaN
26,Inner Mongolia,Mainland China,2/5/20 8:53,42.0,0.0,3.0,NaN,NaN,NaN
27,Ningxia,Mainland China,2/4/20 2:13,34.0,0.0,1.0,NaN,NaN,NaN
28,Xinjiang,Mainland China,2/5/20 2:03,32.0,0.0,0.0,NaN,NaN,NaN
29,NaN,Singapore,2/5/20 16:33,28.0,0.0,0.0,NaN,NaN,NaN
30,NaN,Thailand,2/4/20 15:33,25.0,0.0,5.0,NaN,NaN,NaN
31,NaN,Japan,2/4/20 16:43,22.0,0.0,1.0,NaN,NaN,NaN
32,Hong Kong,Hong Kong,2/5/20 13:13,21.0,1.0,0.0,NaN,NaN,NaN
33,NaN,South Korea,2/5/20 15:33,19.0,0.0,0.0,NaN,NaN,NaN
34,Qinghai,Mainland China,2/5/20 3:13,17.0,0.0,3.0,NaN,NaN,NaN
35,NaN,Germany,2/3/20 20:53,12.0,0.0,0.0,NaN,NaN,NaN
36,NaN,Malaysia,2/5/20 15:43,12.0,0.0,0.0,NaN,NaN,NaN
37,Taiwan,Taiwan,2/4/20 14:53,11.0,0.0,0.0,NaN,NaN,NaN
38,Macau,Macau,2/4/20 4:43,10.0,0.0,0.0,NaN,NaN,NaN
39,NaN,Vietnam,2/3/20 21:43,8.0,0.0,1.0,NaN,NaN,NaN
40,NaN,France,2/1/20 1:52,6.0,0.0,0.0,NaN,NaN,NaN
41,NaN,United Arab Emirates,2/2/20 5:43,5.0,0.0,0.0,NaN,NaN,NaN
42,New South Wales,Australia,2/1/20 18:12,4.0,0.0,2.0,NaN,NaN,NaN
43,Victoria,Australia,2/1/20 18:12,4.0,0.0,0.0,NaN,NaN,NaN
44,Queensland,Australia,2/4/20 16:53,3.0,0.0,0.0,NaN,NaN,NaN
45,NaN,India,2/3/20 21:43,3.0,0.0,0.0,NaN,NaN,NaN
46,South Australia,Australia,2/2/20 22:33,2.0,0.0,0.0,NaN,NaN,NaN
47,"Toronto, ON",Canada,2/4/20 0:13,2.0,0.0,0.0,NaN,NaN,NaN
48,NaN,Italy,1/31/20 8:15,2.0,0.0,0.0,NaN,NaN,NaN
49,NaN,Philippines,2/2/20 3:33,2.0,1.0,0.0,NaN,NaN,NaN
50,NaN,Russia,1/31/20 16:13,2.0,0.0,0.0,NaN,NaN,NaN
51,NaN,UK,2/1/20 1:52,2.0,0.0,0.0,NaN,NaN,NaN
52,"Chicago, IL",US,2/1/20 19:43,2.0,0.0,0.0,NaN,NaN,NaN
53,"San Benito, CA",US,2/3/20 3:53,2.0,0.0,0.0,NaN,NaN,NaN
54,"Santa Clara, CA",US,2/3/20 0:43,2.0,0.0,0.0,NaN,NaN,NaN
55,NaN,Belgium,2/4/20 15:43,1.0,0.0,0.0,NaN,NaN,NaN
56,NaN,Cambodia,1/31/20 8:15,1.0,0.0,0.0,NaN,NaN,NaN
57,British Columbia,Canada,2/1/20 18:12,1.0,0.0,0.0,NaN,NaN,NaN
58,"London, ON",Canada,2/4/20 0:03,1.0,0.0,0.0,NaN,NaN,NaN
59,NaN,Finland,1/31/20 8:15,1.0,0.0,0.0,NaN,NaN,NaN
60,Tibet,Mainland China,2/1/20 1:52,1.0,0.0,0.0,NaN,NaN,NaN
61,NaN,Nepal,1/31/20 8:15,1.0,0.0,0.0,NaN,NaN,NaN
62,NaN,Spain,2/1/20 23:43,1.0,0.0,0.0,NaN,NaN,NaN
63,NaN,Sri Lanka,1/31/20 8:15,1.0,0.0,0.0,NaN,NaN,NaN
64,NaN,Sweden,2/1/20 2:13,1.0,0.0,0.0,NaN,NaN,NaN
65,"Boston, MA",US,2/1/20 19:43,1.0,0.0,0.0,NaN,NaN,NaN
66,"Los Angeles, CA",US,2/1/20 19:53,1.0,0.0,0.0,NaN,NaN,NaN
67,"Orange, CA",US,2/1/20 19:53,1.0,0.0,0.0,NaN,NaN,NaN
68,"Seattle, WA",US,2/1/20 19:43,1.0,0.0,0.0,NaN,NaN,NaN
69,"Tempe, AZ",US,2/1/20 19:43,1.0,0.0,0.0,NaN,NaN,NaN

In [ ]:
total_casos.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Suspected', 'ConfnSusp', 'Notes'],
      dtype='object')

In [ ]:
total_casos.columns=['Estado', 'País', 'Última actualización', 'Confirmado','Muertes', 'Recuperados', 'Sospechosos', 'ConfnSusp', 'Notas']
total_casos['País'].unique()

array(['Mainland China', 'Hong Kong', 'Taiwan', 'Japan', 'US',
       'South Korea', 'Thailand', 'Macau', 'Singapore ', 'Vietnam',
       'France', 'Australia', 'Nepal', 'Malaysia ', 'Canada',
       'Philippines', 'Malaysia', 'Mexico', 'Brazil', 'Colombia',
       'Singapore', 'Germany', 'United Arab Emirates', 'India', 'Italy',
       'Russia', 'UK', 'Cambodia', 'Finland', 'Spain', 'Sri Lanka',
       'Sweden', 'Ivory Coast', 'Belgium', 'Others'], dtype=object)

In [ ]:
paises=['Mexico','Guatemala','Belice','Honduras','El Salvador','Nicaragua','Costa Rica','Panama','Cuba','Republica Dominicana','Puerto Rico','Venezuela','Colombia','Ecuador','Peru','Bolivia','Chile','Argentina','Uruguay','Paraguay','Brazil',
]

casos_lat= total_casos[total_casos.País.isin(paises)]
casos_lat

,Estado,País,Última actualización,Confirmado,Muertes,Recuperados,Sospechosos,ConfnSusp,Notas
43,NaN,Mexico,1/23/20 12:00,NaN,NaN,NaN,1.0,1.0,NaN
44,NaN,Brazil,1/23/20 12:00,NaN,NaN,NaN,1.0,1.0,NaN
45,NaN,Colombia,1/23/20 12:00,NaN,NaN,NaN,1.0,1.0,NaN